<div *ngIf="hero">
  <h2><span *ngIf="!idParam">New Hero</span>{{ hero.name }} Details!</h2>
  <div><label>id: </label>{{ hero._id }}</div>
  <div><label>name: </label><input [(ngModel)]="hero.name" placeholder="name" /></div>
  <button
    title="Save"
    (click)="updateHero()"
    [attr.disabled]="!hero.name || hero.name === '' ? '' : null"
  >
    Save
  </button>
  <button title="Delete" *ngIf="idParam" (click)="deleteHero()">Delete</button>
  <button title="Back" (click)="goBack()">Back</button>
</div>
