h2 {
  text-align: center;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #637d8c;
  border-radius: 2px;
  color: #eeeeee;
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100px;

  &:hover {
    background-color: #eeeeee;
    color: #607d8b;
    cursor: pointer;
  }
}
