h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;

  a {
    background-color: #eeeeee;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
  }

  a:visited,
  a:link {
    color: #334953;
  }

  a:hover {
    background-color: #cfd8dc;
    color: #039be5;
  }

  a.active {
    color: #039be5;
  }
}
