<h1>Tour of Heroes</h1>
<nav>
  <a routerLink="/heroes-dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes-list" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet>
