ul {
  list-style-type: none;
  margin: 0 0 2em;
  max-width: 100%;
  padding: 0;
  width: 15em;

  li {
    background-color: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: 0.5em;
    padding: 0.3em 0;
    position: relative;

    &:hover {
      background-color: #dddddd;
      color: #607d8b;
      left: 0.1em;
    }

    &.selected {
      background-color: #cfd8dc;
      color: #000000;

      &:hover {
        background-color: #bbd8dc;
        color: #000000;
      }
    }
  }

  .badge {
    background-color: #637d8c;
    border-radius: 4px 0 0 4px;
    color: #000000;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: 0.8em;
    padding: 0.8em 0.7em 0;
    position: relative;
    top: -4px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  button:nth-last-of-type(2) {
    margin-right: auto;
  }
}
