<h2>My Heroes</h2>
<ul>
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="selectHero(hero)"
  >
    <span class="badge">{{ hero._id }}</span>
    {{ hero.name }}
  </li>
</ul>
<p *ngIf="selectedHero">{{ selectedHero.name | uppercase }} is my hero</p>
<div class="buttons">
  <button
    class="details"
    title="{{ selectedHero ? 'View Details' : 'New Hero' }}"
    routerLink="/edit/{{ selectedHero ? selectedHero._id : '' }}"
  >
    {{ selectedHero ? 'View Details' : 'New Hero' }}
  </button>
  <button (click)="repopulateDb()">REPOPULATE DB</button>
</div>
