/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: 1px solid #000000;
  margin: 2em;
  padding: 20px;

  input[type='text'],
  button {
    color: #333333;
  }
}

h1 {
  color: #999999ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

label {
  color: #607d8b;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em;
  width: 3em;
}

input {
  font-size: 1em;
  height: 2em;
  padding-left: 0.4em;
}

button {
  background-color: #eeeeee;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
  margin-right: 5px;
  margin-top: 20px;
  padding: 5px 10px;

  &:disabled {
    color: #cccccc;
    cursor: auto;
    opacity: 0.9;
  }

  &:hover {
    background-color: #cfd8dc;
  }
}
